body > div {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.preferences {
	padding: 1rem;
	background-color: #FADBC3;
	border-radius: 5px;
	box-shadow: 0 0 5px #BBAEAC;
}
h1 {
	color: #6E6E7E;
	margin: 0.5rem 0;
}
.preferences form {
	margin-top: 2rem;
}
.preferences div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1.5rem;
    color: #6E6E7E;
}
#number, #category, #difficulty {
	width: 400px;
    font-size: 1.5rem;
    padding: 0.3rem 0.5rem;
    outline: none;
    border: none;
    border-radius: 7px;
    background-color: #F4F2F2;
    color: #6E6E7E;
}
button[type="submit"] {
	display: block;
    margin: 1.5rem auto;
    padding: 0.5rem 1.3rem;
    border-radius: 20px;
    font-size: 1.5vw;
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: #6E6E7E;
    color: #F4F2F2;
    width: 150px;
}
.question {
	width: 40%;
	height: 80vh;
	position: relative;
	box-shadow: 0 0 10px #B2C4CA;
}
@media only screen and (max-height: 768px) {
	.question {
		width: 95%;
	}
}
.question header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #60d5e6;
	padding: 1rem 1rem;
}
.question header p {
	color: #F2F3FB;
}
.question header div{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.question header div p {
	margin: 0 1.5rem;
}
.question .options {
	width: 80%;
	height: 70%;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 10px #B2C4CA;
	background-color: #f2f2f2;
	padding: 1rem 1rem 0.5rem 1rem;
}
.options p {
    color: #B2C4CA;
}
p.question-text {
	color:#6A6E6F;
	font-size: 1.2rem;
}
.options ul {
	list-style: upper-alpha;
	margin-left: 1.5rem;
}
.options ul li button {
	border: none;
	outline: none;
	width: 80%;
	padding: 0.5rem 0.5rem;
	display: block;
	text-align: left;
	background-color: #B2C4CA;
    border-radius: 10px;
    margin: 0.5rem 0;
}
.options ul li button:hover {
	background-color: #60d5e6;
	cursor: pointer;
	color: #fff;
}
button.send-btn, .score button {
	display: block;
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #5CCDE5;
	color: #F2F3FB;
	border: none;
	border-radius: 7px;
	padding: 1rem 2rem;
	font-size: 1.5vw;
	cursor: pointer;
}
.score button {
	position: initial;
	display: block;
	margin: 2rem auto;
	transform: translate(0%, 0%);
}
.score {
    text-align: center;
}
